*{
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
  height: 100%;
}
ul,li{
  list-style: none;
}
.section3{
  width: 100%;
  height: 100%;
  background: url(../img/3.png) no-repeat;
  background-size: 100% 100%;
  display: none;
}
.all2{
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1.5rem;
  font-size: 0.36rem;
  color: #fff;
  font-weight: 600;
}
.all2>span{
  margin-left: 0.1rem;
}
.all2>span:nth-of-type(1){
  animation: dong 0.5s linear infinite alternate;
}
.all2>span:nth-of-type(2){
  animation: dong 0.5s linear 0.1s infinite alternate;
}
.all2>span:nth-of-type(3){
  animation: dong 0.5s linear 0.2s infinite alternate;
}
.all2>span:nth-of-type(4){
  animation: dong 0.5s linear 0.3s infinite alternate;
}
.all2>span:nth-of-type(5){
  animation: dong 0.5s linear 0.4s infinite alternate;
}
.all2>span:nth-of-type(6){
  animation: dong 0.5s linear 0.5s infinite alternate;
}
.and{
  width: 5.5rem;
  height: 5.4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.26rem;
}
.and>li{
  width: 2.27rem;
  height: 0.6rem;
  position: relative;
}
.and>li>span{
  position: absolute;
  left: 0.215rem;
  top: 50%;
  transform: translateY(-50%);
  color: #2b7a50;
  font-weight: 600;
}
.and>li>i{
  font-style: normal;
  position: absolute;
  left: 0.65rem;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-weight: 400;
}
.tijiao{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.7rem;
  margin-left: -20%;
  animation: big 1s linear infinite alternate;
}